/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Knewave&display=swap');

.infos {
    background-color: rgba(0, 0, 0, 0.600);
    color : white;
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}