.outer{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width:100%;
}
.inner{
    border: solid 1px violet;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.innerrer{
    border: solid 1px black;
}